.home {
  height: 100vh;
  background-image: url(./assets/images/Interior.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.mint-page {
  height: 100vh;
  flex-direction: column;
  background-color: #9dcff0;
  background-image: url(./assets/images/dirt.PNG);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .mint-page {
    background-image: url(./assets/images/dirt.PNG);
    background-size: contain;
  }
}

.rc-slider .rc-slider-rail {
  background-color: white;
  height: 6px;
}
.rc-slider .rc-slider-track {
  background-color: #ee8454;
  height: 6px;
}
.rc-slider .rc-slider-handle {
  background-color: #ee8454;
  border-color: #ee8454;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}

body .rc-slider-tooltip-inner {
  background-color: #ee8454;
}
body .rc-slider-tooltip-content .rc-slider-tooltip-arrow {
  border-top-color: #ee8454;
}
